[Desktop Entry]
Encoding=UTF-8
Name=GCX
Comment=GCX P2P Cryptocurrency
Comment[fr]=GCX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GCX, eşten eşe kriptografik sanal para birimi
Exec=gcx-qt %u
Terminal=false
Type=Application
Icon=gcx128
MimeType=x-scheme-handler/gcx;
Categories=Office;Finance;
