[Desktop Entry]
Encoding=UTF-8
Name=GCXX
Comment=GCXX P2P Cryptocurrency
Comment[fr]=GCXX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GCXX, eşten eşe kriptografik sanal para birimi
Exec=gcx-qt %u
Terminal=false
Type=Application
Icon=gcx128
MimeType=x-scheme-handler/gcx;
Categories=Office;Finance;
